#about .about__container .about__info h2 {
  color: #282938;
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
}

#footer .footer__right h1 {
  color: #FFF;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}

#team h1 {
  color: #282938;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}

#team .team__cards .team__card h4 {
  color: #282938;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

#about .about__container .about__info h1, #footer .footer__left--bottom h5 {
  color: #282938;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

#footer .footer__left p, #footer .footer__right p {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

#about .about__container .about__info p, #team .team__cards .team__card p, #footer .footer__left--bottom p {
  color: #282938;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

#backtop {
  position: fixed;
  bottom: 1200px;
  right: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}
#backtop a {
  padding: 30px;
}
#backtop a img {
  width: 20px;
}

#backtop.backtop-show {
  z-index: 99;
  bottom: 50px;
}
#backtop.backtop-show a {
  padding: 30px;
}
#backtop.backtop-show a img {
  width: 30px;
}

#mode-btn {
  background-color: transparent;
  border: none;
}

.dark main,
.dark #plan,
.dark #info,
.dark #clients,
.dark #features,
.dark #about,
.dark #aim,
.dark #team,
.dark #contact {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgb(10, 10, 36))) !important;
  background: linear-gradient(black, rgb(10, 10, 36)) !important;
}

.dark #contact * {
  color: black !important;
}

.dark * {
  color: white !important;
}

.dark #aim * {
  color: black !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.bg-dark {
  background-color: #1C1E53 !important;
}

#navbar {
  padding: 30px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar.navbar-shrink {
  padding: 10px 0;
  -webkit-box-shadow: 0 0 10px #373979;
          box-shadow: 0 0 10px #373979;
}

.offcanvas-body .navbar-nav {
  gap: 40px;
}
.offcanvas-body .navbar-nav .nav__contact {
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas-body .navbar-nav .nav__contact:hover {
  border: 2px solid #FCD980;
  color: #FCD980 !important;
}

#about {
  padding-top: 188px;
  padding-bottom: 128px;
}
#about .about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1200px) {
  #about .about__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
#about .about__container .about__info {
  max-width: 540px;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}
@media (min-width: 1200px) {
  #about .about__container .about__info {
    text-align: left;
  }
}
#about .about__container .about__info h1 {
  margin-bottom: 8px;
}
#about .about__container .about__info h2 {
  margin-bottom: 31px;
}
#about .about__container img {
  max-width: 640px;
  width: 100%;
}

/*Aim Styles*/
#aim {
  padding-bottom: 96px;
}
#aim .aim__infos {
  background-color: #F4F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 990px) {
  #aim .aim__infos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
#aim .aim__infos--left {
  padding: 96px 30px 80px 40px;
}
#aim .aim__infos--left h1 {
  font-size: 32px;
  margin-bottom: 16px;
}
#aim .aim__infos--right {
  padding: 96px 30px 80px 40px;
}
#aim .aim__infos--right h1 {
  font-size: 32px;
  margin-bottom: 16px;
}
#aim img {
  width: 100%;
}

/*team Styles*/
#team {
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #F4F6FC;
}
#team h1 {
  margin-bottom: 48px;
  text-align: center;
}
#team .team__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 800px) {
  #team .team__cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  #team .team__cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
#team .team__cards .team__card {
  background-color: #fff;
  max-width: 300px;
  width: 100%;
  padding: 48px 64px 48px 64px;
  position: relative;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#team .team__cards .team__card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  cursor: pointer;
}
#team .team__cards .team__card:hover .medias {
  opacity: 1;
}
#team .team__cards .team__card:hover img {
  -webkit-filter: blur(0);
          filter: blur(0);
}
#team .team__cards .team__card img {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  width: 100%;
}
#team .team__cards .team__card .medias {
  position: absolute;
  opacity: 0;
  top: 175px;
  left: 100px;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
@media (min-width: 352px) {
  #team .team__cards .team__card .medias {
    left: 125px;
  }
}
#team .team__cards .team__card h4 {
  color: black !important;
  margin-top: 30px;
  text-align: center;
}
#team .team__cards .team__card p {
  color: black !important;
  margin-top: 2px;
  text-align: center;
}

/*Footer Styles*/
#footer {
  background-color: #1C1E53;
  padding-top: 104px;
  padding-bottom: 90px;
}
#footer .footer__left {
  max-width: 517px;
}
#footer .footer__left a img {
  width: 162px;
  height: 32px;
}
#footer .footer__left p {
  margin-top: 23px;
  max-width: 400px;
}
#footer .footer__left--bottom {
  margin-top: 86px;
  padding: 18px 37px;
  background-color: #FCD980;
}
#footer .footer__right {
  max-width: 399px;
}
#footer .footer__right p {
  margin-top: 14px;
}
#footer .footer__right .medias a {
  font-size: 30px;
}
#footer .footer__right .medias a img {
  width: 30px;
}