#footer .footer__right h1 {
  color: #FFF;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}

#plan h1, #info .info__left h1 {
  color: #282938;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}

#plan .plan__cards .plan__card h2 {
  color: #282938;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}

#plan .plan__cards .plan__card h4, #info .accordion__info h4 {
  color: #282938;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

#info .info__left a, #footer .footer__left--bottom h5 {
  color: #282938;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

#footer .footer__left p, #footer .footer__right p {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

#plan .plan__cards .plan__card h6, #footer .footer__left--bottom p {
  color: #282938;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

#backtop {
  position: fixed;
  bottom: 1200px;
  right: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}
#backtop a {
  padding: 30px;
}
#backtop a img {
  width: 20px;
}

#backtop.backtop-show {
  z-index: 99;
  bottom: 50px;
}
#backtop.backtop-show a {
  padding: 30px;
}
#backtop.backtop-show a img {
  width: 30px;
}

#mode-btn {
  background-color: transparent;
  border: none;
}

.dark main,
.dark #plan,
.dark #info,
.dark #clients,
.dark #features,
.dark #about,
.dark #aim,
.dark #team,
.dark #contact {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgb(10, 10, 36))) !important;
  background: linear-gradient(black, rgb(10, 10, 36)) !important;
}

.dark #contact * {
  color: black !important;
}

.dark * {
  color: white !important;
}

.dark #aim * {
  color: black !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.bg-dark {
  background-color: #1C1E53 !important;
}

#navbar {
  padding: 30px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar.navbar-shrink {
  padding: 10px 0;
  -webkit-box-shadow: 0 0 10px #373979;
          box-shadow: 0 0 10px #373979;
}

.offcanvas-body .navbar-nav {
  gap: 40px;
}
.offcanvas-body .navbar-nav .nav__contact {
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas-body .navbar-nav .nav__contact:hover {
  border: 2px solid #FCD980;
  color: #FCD980 !important;
}

#plan {
  padding-top: 218px;
  padding-bottom: 128px;
}
#plan h1 {
  text-align: center;
  margin-bottom: 16px;
}
#plan p {
  max-width: 562px;
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
#plan .plan__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
@media (min-width: 990px) {
  #plan .plan__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
#plan .plan__cards .plan__card {
  max-width: 400px;
  width: 100%;
  padding: 60px 10px 62px 10px;
  background-color: #F4F6FC;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 990px) {
  #plan .plan__cards .plan__card {
    padding-top: 64px;
    padding-left: 48px;
  }
}
#plan .plan__cards .plan__card:hover {
  background-color: #1C1E53;
}
#plan .plan__cards .plan__card:hover h2, #plan .plan__cards .plan__card:hover h4, #plan .plan__cards .plan__card:hover h6, #plan .plan__cards .plan__card:hover a {
  color: #fff !important;
}
#plan .plan__cards .plan__card:hover span {
  color: #FCD980;
  color: black !important;
}
#plan .plan__cards .plan__card:hover button {
  background-color: #FCD980;
  color: black !important;
}
#plan .plan__cards .plan__card h2 {
  color: #1C1E53 !important;
}
#plan .plan__cards .plan__card h2 span {
  font-size: 16px;
  color: #2405F2 !important;
  vertical-align: middle;
}
#plan .plan__cards .plan__card h4 {
  margin-top: 20px;
  color: #1C1E53 !important;
}
#plan .plan__cards .plan__card h6 {
  color: #1C1E53 !important;
  margin-bottom: 80px;
}
#plan .plan__cards .plan__card a,
#plan .plan__cards .plan__card button {
  display: block;
  margin-bottom: 20px;
  color: black !important;
}
#plan .plan__cards .plan__card a img,
#plan .plan__cards .plan__card button img {
  margin-right: 12px;
}
#plan .plan__cards .plan__card button {
  background-color: #FCD980;
  padding: 16px 48px;
  border-radius: 40px;
  color: #1B1C2A;
  font-size: 18px;
  line-height: 32px;
  border: none;
  cursor: pointer;
  background-color: #282938;
  margin-top: 60px;
  margin-bottom: 0;
  color: #fff !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*Info Styles*/
#info {
  padding-top: 100px;
  padding-bottom: 128px;
}
#info .info__left {
  margin-bottom: 50px;
  max-width: 406px;
}
#info .info__left a {
  color: #2405F2 !important;
}
#info .accordion__info {
  max-width: 843px;
}
#info .accordion__info h4 {
  color: black !important;
}
#info .accordion__info h4 span {
  color: #2405F2 !important;
}
#info .accordion__info .accordion-button::after {
  background-image: url("../image/+.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#info .accordion__info .accordion-button:not(.collapsed)::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#info .accordion__info .accordion-body {
  color: black !important;
}

/*Footer Styles*/
#footer {
  background-color: #1C1E53;
  padding-top: 104px;
  padding-bottom: 90px;
}
#footer .footer__left {
  max-width: 517px;
}
#footer .footer__left a img {
  width: 162px;
  height: 32px;
}
#footer .footer__left p {
  margin-top: 23px;
  max-width: 400px;
}
#footer .footer__left--bottom {
  margin-top: 86px;
  padding: 18px 37px;
  background-color: #FCD980;
}
#footer .footer__right {
  max-width: 399px;
}
#footer .footer__right p {
  margin-top: 14px;
}
#footer .footer__right .medias a {
  font-size: 30px;
}
#footer .footer__right .medias a img {
  width: 30px;
}