@use "../utils/variables"as var;
@use "../utils/mixins"as mxn;
@use "../utils/helpers";
@use "../themes/backtop";
@use "../global";

.bg-dark {
    background-color: #1C1E53 !important;
}

#navbar {
    padding: 30px 0;
    transition: 0.5s;
}

#navbar.navbar-shrink {
    padding: 10px 0;
    box-shadow: 0 0 10px #373979;
}

.offcanvas-body {
    .navbar-nav {
        gap: 40px;

        .nav__contact {
            padding: 16px 48px;
            border-radius: 41px;
            border: 2px solid rgba(244, 246, 252, 0.20);
            transition: 0.5s;

            &:hover {
                border: 2px solid var.$btn-nbg-color;
                color: var.$btn-nbg-color !important;
            }
        }
    }

}

#contact{
    .container{
        max-width: 1061px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 12px;
        background-color: #F4F6FC;
        padding: 55px 76px 69px 76px;
    }
    padding-top: 200px;
    padding-bottom: 128px;
    h1{
        color: black !important;
        @extend %title__48__primary;
        margin-bottom: 16px;
        text-align: center;
    }

    p{
        color: black !important;
        @extend %title__16__primary;
        max-width: 562px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 64px;
    }
}



/*Footer Styles*/
#footer{
    background-color: #1C1E53;
    padding-top: 104px;
    padding-bottom: 90px;
    .footer__left{
        max-width: 517px;
        a{
            img{
                width: 162px;
                height: 32px;
            }
        }
        p{
            margin-top: 23px;
            max-width: 400px;
            @extend %title__16__white;
        }

        &--bottom{
            margin-top: 86px;
            padding: 18px 37px;
            background-color: #FCD980;
            h5{

                @extend %title__18__primary;
            }
            p{

                @extend %title__16__primary;
            }
        }
    }
    .footer__right{
        max-width: 399px;
        h1{
            @extend %title__48__white;
        }
        p{
            margin-top: 14px;
            @extend %title__16__white;
        }
        .medias{
            a{
                font-size: 30px;
                img{
                    width: 30px;
                }
            }
        }
    }
}