%title__54__white{
    color: #FFF;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
}

%title__54__primary{
    color: #282938;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
}

%title__48__white{
    color: #FFF;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

%title__48__primary{
    color: #282938;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

%title__38__white{
    color: #FFF;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
}

%title__38__primary{
    color: #282938;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
}

%title__32__white{
    color: #FFF;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

%title__32__primary{
    color: #282938;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

%title__24__white{
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

%title__24__primary{
    color: #282938;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

%title__18__white{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

%title__18__primary{
    color: #282938;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

%title__16__white{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

%title__16__primary{
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}